.stepper-comp{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 40px;

}
.logo__img{
    object-fit:contain;
    width:63px;
    height:63px;
}
.logo__div{
    display:flex;
}
.header{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 30px;
}
.main{
    display:flex;
    justify-content:center;
    align-items:center;
}